# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Configuration File
*ycm_extra_conf.py

*~
CMakeLists.txt.user
*.autosave

#generated documentation
/docu/html/*
/docu/latex/*

/models/functionalities/facesimilarity/*

/build/*

*ycm*
